<div class="container-fluid explore-page">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="card-deck mb-3 text-center mt-5">
        <div class="card mb-4 shadow-sm box-one overflow-hidden" *ngFor="let circ of circulations;">
          <div class="card-header border-0 card flex-row flex-wrap" style="margin-right:10px;margin-left:10px;">
            <div class="media w-100">
              <img src="../../assets/images/box-1-logo-w.png" class="align-self-center mr-2" />
              <div class="media-body align-self-center font-weight-bold text-left f-grey">
                Circulation
              </div>
              <div class="dots"></div>
            </div>
          </div>
          <div class="card-body" [ngStyle]="{'padding':'.500rem 1rem 0rem 1rem', 'border-bottom': '8px solid', 'border-bottom-color': circ.color}">
            <div class="col-lg-12">
              <h2 [className]="'card-title pricing-card-title ' +  circ.class">{{circ.value | number}}</h2>
            </div>
            <div class="row">
              <div class="col-md-text-center col-md-12 col-lg-9">
                <div class="chart text-center">
                  <div class="bar-1"></div>
                  <div class="bar-2"></div>
                  <div [className]="'bar-3 ' + circ.bar_class"></div>
                  <div class="bar-4"></div>
                  <div class="bar-5"></div>
                  <div class="bar-6"></div>
                  <div class="bar-7"></div>
                  <div class="bar-8"></div>
                  <div class="bar-9"></div>
                  <div class="bar-10"></div>
                  <div class="bar-11"></div>
                  <div class="bar-12"></div>
                </div>
              </div>
              <div class="col-md-text-center col-md-12 col-lg-3 align-items-center">
                <span class="f-grey"><strong>{{circ.month}}</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-sm hidden-md col-lg-4">

      <!-- Start :Calendar Style -->
      <div class="rounded-panel pb-0 mt-5 px-3 mb-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-deck mb-3 rounded-panel bg-white m-0 border-0">
                <div class="date-time-container bg-none">
                    <div class="input-group input-group-lg date" id="start_date" data-target-input="nearest">
                        <div class="input-group-append bg-white" data-target="#start_date" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input type="text" class="form-control datetimepicker-input bg-white" data-target="#start_date" id="start_date" name="start_date" placeholder="Start Date">
                    </div>
                </div>
            </div>
        </div>
          <div class="col-lg-6">
            <div class="card-deck mb-3 rounded-panel bg-white m-0 border-0">
              <div class="date-time-container bg-none">
                <div class="input-group input-group-lg date" id="end_date" data-target-input="nearest">
                  <div class="input-group-append bg-white" data-target="#end_date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                  <input type="text" class="form-control datetimepicker-input bg-white" data-target="#end_date"
                    id="end_date" name="end_date" placeholder="End Date">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End: Calendar Style -->

      <div class="row">
        <div class="col-lg-12">
          <button type="button" class="bbtn btn-primary w-100 p-2">Search</button>
        </div>
      </div>

     </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4 shadow-sm w-100">
        <div class="card ml-4 mr-4 mt-2 mb-2 rounded-0 border-0">
          <div class="card mb-4 w-100 border-0">
            <div class="d-flex flex-column flex-md-row align-items-center p-2">
              <div class="lh-100 my-0 mr-md-auto font-weight-normal">
                <h5 class="mb-0 lh-100">Search Billboard: 4300</h5>
              </div>
              <h6 class="mr-2 mt-2">Classic</h6>
              <label class="switch mr-3 mb-0">  
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              <h6 class="mr-2 mt-2">Digital</h6>
            </div>
            <table class="table">
              <thead>
                <tr class="d-flex bg-none">
                  <th class="col-lg-2 text-left">Location</th>
                  <th class="col-lg-2 text-left">Media Owner</th>
                  <th class="col-lg-1 text-left">State</th>
                  <th class="col-lg-1 text-center">Dimension</th>
                  <th class="col-lg-1 text-center">Size</th>
                  <th class="col-lg-1 text-center">Category</th>
                  <th class="col-lg-2 text-center">Available Day</th>
                  <th class="col-lg-2 text-center">Monthly Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr class="d-flex" *ngFor="let billboard of billboards;">
                  <td class="col-lg-2 text-left">{{billboard.location}}</td>
                  <td class="col-lg-2 text-left tooltip-box" [attr.data-title]=billboard.mediaOwner>
                    <a>{{billboard.mediaOwner}}</a>
                  </td>
                  <td class="col-lg-1 text-left">{{billboard.state}}</td>
                  <td class="col-lg-1 text-center">{{billboard.dimension}}</td>
                  <td class="col-lg-1 text-center">{{billboard.size}}</td>
                  <td class="col-lg-1 text-center">{{billboard.category}}</td>
                  <td class="col-lg-2 text-center">{{billboard.availableDays}} Days</td>
                  <td class="col-lg-2 text-center green-one font-weight-bold">
                    <div class="amount">{{billboard.monthlyRate | number}}</div>
                    <i class="fa fa-pencil"></i>
                    <div class="edit mr-2">Edit</div>
                    <i class="fa fa-times"></i>
                    <div class="delete">Delete</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
